body{
font-family: Arial;
background: linear-gradient(135deg,#667eea,#764ba2);
margin:0;
padding:20px;
}

.container{
background:white;
padding:20px;
max-width:1000px;
margin:auto;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
text-align:center;
}

.stats{
display:flex;
justify-content:space-around;
background:#f1f3f6;
padding:10px;
border-radius:8px;
margin-bottom:15px;
font-weight:bold;
}

.form{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-bottom:15px;
}

input{
padding:8px;
flex:1;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:8px 15px;
border:none;
cursor:pointer;
border-radius:6px;
background:#4CAF50;
color:white;
}

button:hover{
opacity:0.85;
}

.table-wrapper{
overflow-x:auto;
}

table{
width:100%;
border-collapse: collapse;
}

th, td{
padding:10px;
text-align:center;
border-bottom:1px solid #ddd;
}

.icon-btn{
cursor:pointer;
font-size:18px;
}

.reset-btn {
    background: black;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    transition: 0.2s ease;
}

.reset-btn:hover {
    background: #444;
    transform: scale(1.05);
}

.reset-btn i {
    margin-right: 5px;
}

.paid{ color:green; }
.pending{ color:red; }

.done{ color:green; }
.notdone{ color:orange; }

.completed{ color:blue; }

@media(max-width:768px){
.stats{
flex-direction:column;
text-align:center;
}
}