body{
    margin:0;
    font-family: Arial;
}

.toolbar{
    padding:10px;
    background:#f3f3f3;
    display:flex;
    flex-wrap:wrap;
    gap:5px;
}

button{
    padding:6px 12px;
    cursor:pointer;
}

.formula-bar{
    display:flex;
}

#address{
    width:80px;
    text-align:center;
}

#formula{
    flex:1;
    padding:5px;
}

#grid{
    display:grid;
    grid-template-columns:40px repeat(26, minmax(100px,1fr));
    overflow:auto;
    width:100%;
    max-height:65vh;
}

.cell,.header{
    border:1px solid #ccc;
    height:28px;
    padding:4px;
    box-sizing:border-box;
}

.header{
    background:#eaeaea;
    font-weight:bold;
    text-align:center;
    position:relative;
}

.cell{
    outline:none;
}

.active{
    border:2px solid green;
}

.sheets{
    padding:10px;
    background:#f3f3f3;
    overflow-x:auto;
}

.sheet{
    display:inline-block;
    padding:5px 12px;
    margin-right:5px;
    background:#ddd;
    cursor:pointer;
    border-radius:5px;
}

.sheet.active-sheet{
    background:white;
    font-weight:bold;
}

#chartCanvas{
    width:100%;
    max-width:800px;
    margin:20px auto;
    display:block;
}

/* DARK MODE */
.dark{
    background:#1e1e1e;
    color:white;
}

.dark .header{
    background:#333;
}

.dark .toolbar,
.dark .sheets{
    background:#2b2b2b;
}

/* MOBILE */
@media (max-width:768px){
    button{
        flex:1 1 45%;
        font-size:12px;
    }
}