body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    margin: 0;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
}

.board {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.column {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

.column h2 {
    text-align: center;
}

.column button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background: #667eea;
    color: white;
    cursor: pointer;
}

.task-list {
    min-height: 200px;
}

.task {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2px 6px;
}